<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Mi portafolio online</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />
        <link rel="stylesheet" href="../static/css/normalize.css"/>
        <link rel="stylesheet" href="../static/css/estilos.css"/>
    </head>
    <body>
        <div id="yo"></div>
        <header class="Header">
            <nav class="MainMenu">
                <ul class="MainMenu-list">
                    <li class="MainMenu-item">
                        <a class="MainMenu-link" href="#yo">yo</a>
                    </li>
                    <li class="MainMenu-item">
                        <a class="MainMenu-link" href="#perfil">perfil</a>
                    </li>
                    <li class="MainMenu-item">
                        <a class="MainMenu-link" href="#trabajo">trabajo</a>
                    </li>
                    <li class="MainMenu-item">
                        <a class="MainMenu-link" href="#contacto">Contacto</a>
                    </li>
                </ul>
            </nav>

            <figure class="Header-imageContainer">
                <div "Header-imageContainer-Container">
                    <a href="#" class="Header-imageLink"><img src="../static/images/email.gif" /></a>
                    <img src="../static/images/avatar.jpg" alt="@LeonidasEsteban" class="Header-image"/>
                    <a href="#" class="Header-imageLink"><img src="../static/images/more.gif" /></a>
                </div>
                <figcaption class="Header-description">
                    <a href="#" class="Header-link">Mr. Fox</a>
                </figcaption>
                <p class="Header-name">Thief</p>
            </figure>
        </header>

        <div id="perfil"></div>
        <section class="Profile">
            <div class="u-containerDefault">
                <h2 class="Profile-title u-title">Perfil</h2>

                <p class="Profile-description">Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris.</p>

                <a class="Profile-link web" href="#">mrfox.com</a>

                <a class="Profile-link twitter" href="#">@mrfox</a>

                <a class="Profile-link facebook" href="#">/mrfox</a>

                <ul class="Profile-list">
                    <li class="Profile-listItem">Qui animated corpse, cricket bat max brucks terribilem incessu zomby.</li>
                    <li class="Profile-listItem">Qui animated corpse, cricket bat max brucks terribilem incessu zomby.</li>
                    <li class="Profile-listItem">Corpse, cricket bat max brucks terribilem incessu zomby.</li>
                    <li class="Profile-listItem">Corpse, cricket bat max brucks terribilem incessu zomby.</li>
                </ul>
            </div>
        </section>

        <div id="trabajo"></div>
        <section class="Work">
            <div class="u-containerDefault">
                <h2 class="Work-title u-title">Trabajo</h2>
            </div>
            <article class="Work-item">
                <figure class="Work-imageContainer">
                    <a href="#" class="Work-imageContainer-container">
                        <img class="Work-imageDetail" src="../static/images/img-detail.png">
                        <img class="Work-image" src="../static/images/thumb3.jpg" alt="Mejorando.la"/>
                    </a>
                    <figcaption class="Work-description">Corpse, cricket bat max brucks terribilem incessu zomby.</figcaption>
                </figure>
            </article>
            <article class="Work-item">
                <figure class="Work-imageContainer">
                    <a href="#" class="Work-imageContainer-container">
                        <img class="Work-imageDetail" src="../static/images/img-detail.png">
                        <img class="Work-image" src="../static/images/thumb2.jpg" alt="Mejorando.la"/>
                    </a>
                    <figcaption class="Work-description">Corpse, cricket bat max brucks terribilem incessu zomby.</figcaption>
                </figure>
            </article>
            <article class="Work-item">
                <figure class="Work-imageContainer">
                    <a href="#" class="Work-imageContainer-container">
                        <img class="Work-imageDetail" src="../static/images/img-detail.png">
                        <img class="Work-image" src="../static/images/thumb1.jpg" alt="Mejorando.la"/>
                    </a>
                    <figcaption class="Work-description">Corpse, cricket bat max brucks terribilem incessu zomby.</figcaption>
                </figure>
            </article>
            <article class="Work-item">
                <figure class="Work-imageContainer">
                    <a href="#" class="Work-imageContainer-container">
                        <img class="Work-imageDetail" src="../static/images/img-detail.png">
                        <img class="Work-image" src="../static/images/thumb2.jpg" alt="Mejorando.la"/>
                    </a>
                    <figcaption class="Work-description">Corpse, cricket bat max brucks terribilem incessu zomby.</figcaption>
                </figure>
            </article>
            <article class="Work-item">
                <figure class="Work-imageContainer">
                    <a href="#" class="Work-imageContainer-container">
                        <img class="Work-imageDetail" src="../static/images/img-detail.png">
                        <img class="Work-image" src="../static/images/thumb3.jpg" alt="Mejorando.la"/>
                    </a>
                    <figcaption class="Work-description">Corpse, cricket bat max brucks terribilem incessu zomby.</figcaption>
                </figure>
            </article>
            <article class="Work-item">
                <figure class="Work-imageContainer">
                    <a href="#" class="Work-imageContainer-container">
                        <img class="Work-imageDetail" src="../static/images/img-detail.png">
                        <img class="Work-image" src="../static/images/thumb2.jpg" alt="Mejorando.la"/>
                    </a>
                    <figcaption class="Work-description">Corpse, cricket bat max brucks terribilem incessu zomby.</figcaption>
                </figure>
            </article>
            <article class="Work-item">
                <figure class="Work-imageContainer">
                    <a href="#" class="Work-imageContainer-container">
                        <img class="Work-imageDetail" src="../static/images/img-detail.png">
                        <img class="Work-image" src="../static/images/thumb1.jpg" alt="Mejorando.la"/>
                    </a>
                    <figcaption class="Work-description">Corpse, cricket bat max brucks terribilem incessu zomby.</figcaption>
                </figure>
            </article>
        </section>
        <div id="contacto"></div>
        <footer class="Footer">
            <div class="Footer-container">
                <div class="Footer-left">
                    <h3 class="Footer-title">Contacto</h3>
                    <p class="Footer-description">Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. </p>
                </div>
                <form action="" class="Footer-form">
                    <input type="text" placeholder="nombre *" class="Footer-input">
                    <input type="email" placeholder="email *" class="Footer-input">
                    <textarea placeholder="mensaje *" class="Footer-textarea"></textarea>
                    <button type="submit" class="Footer-button">enviar</button>
                </form>
            </div>
            <p>Work performed by <a href="http://tdzine.comli.com" class="FooterLink">Terry Victor</a></p>
        </footer>
    </body>
</html>